body{
    font-family: 'Fredoka One', cursive;
    background :url("../images3/gaming-pattern.png");
}
h1 {
    font-family: 'Fascinate Inline', cursive;
    color: rgb(17, 180, 235);
}
.jumbotron {
    margin-top: 6%;
    background-color:rgba(247, 244, 244, 0.897);
    text-align: center;
}
#letterGuessed {
    text-align: center;
    margin: 5px 0;
} 
.guessButton {
    margin: 10px 0;
}
.win {
    font-family: 'Fascinate Inline', cursive;
    color: rgb(17, 180, 235);
    background: pink;
    animation-name: example;
    animation-duration: 4s;
}
@keyframes example {
    from {background-color: pink;}
    to {background-color: rgb(255, 110, 126);}
}
#confetti {
    height: 40px;
}
.wrongCss{
    font-size: 21px;
    color: rgb(17, 180, 235);
    background: pink;
    letter-spacing: 5px;
    text-transform: uppercase;
}
.wrongMsg{
    color: rgb(17, 180, 235);
}
.display {
    font-family: 'Fascinate Inline', cursive;
    color: rgb(17, 180, 235);
}